.container
	%h2.title All Heroes
	.row
		.col-md-12.heroes
			- for hero in @heros
				%figure
					%a 
						= link_to(hero_path(hero)) do
							%span.border
								= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{hero.slug}.jpg"
					%figcaption
						= hero.name
						%br
						%span.rotation_count
							= hero.rosters.count
							rotations
							= "(#{rotation_percentage_since_release(hero)}%)"
				
