%p#notice= notice
%h1 Listing Heros
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @heros.each do |hero|
      %tr
        %td= link_to 'Show', hero
        %td= link_to 'Edit', edit_hero_path(hero)
        %td= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Hero', new_hero_path
