.jumbotron
	.container
		.row
			.col-md-3.portrait
				.hero
					%figure
						%span.border
							= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{@hero.slug}.jpg", alt: @hero.name, title: @hero.name
			.col-md-9.callout
				.row
					.col-md-8
						%h2.name= @hero.name
						%h3.title= @hero.title
					.col-md-4
						%h4.release_date
							Released
							= @hero.release_date.to_s(:shortish)
							%br
							= link_to 'Blizzard Hero Profile', "http://us.battle.net/heroes/en/heroes/#{@hero.slug}/"
				
				- if @hero.multiple_player_character_names?
					- @hero.player_character_heroes.each do |hero|
						.row
							.col-md-1
								%h4.category.player_character_name
									= hero.player_character_name
							.col-md-2
								%h4.category
									= image_tag("icons/franchise/#{hero.franchise.value}.png", class: 'icon')
									= hero.franchise.name
							.col-md-2
								%h4.category
									- hero.roles.each do |role|
										= image_tag("icons/role/#{role.slug}.png", class: 'icon')
										= role.name
							.col-md-2
								%h4.category
									= image_tag("icons/typp/#{hero.typp.slug}.png", class: 'icon')
									= hero.typp.name
						
				- else		
					.row
						.col-md-2
							%h4.category
								= image_tag("icons/franchise/#{@hero.franchise.value}.png", class: 'icon')
								= @hero.franchise.name
						.col-md-2
							%h4.category
								- @hero.roles.each do |role|
									= image_tag("icons/role/#{role.slug}.png", class: 'icon')
									= role.name
						.col-md-2
							%h4.category
								= image_tag("icons/typp/#{@hero.typp.slug}.png", class: 'icon')
								= @hero.typp.name

				.row
					.col-md-12
						%h2.rotation_status
							- if DateRange.current.heroes.include?(@hero)
								%span
									Currently playable!
							- else
								- if @hero.last_rotation
									Last rotation:
									%span
										= format_date_range(@hero.last_rotation)
								- else
									Has never appeared in the free hero rotation.

				.row.stats
					.col-md-12
						%h4.title Rotation stats

						First rotation:
						- if @hero.first_rotation
							= link_to format_date_range(@hero.first_rotation), rotation_path(@hero.first_rotation)
							- if @hero.weeks_between_release_and_first_rotation == 0
								(week of release)
							- else
								(#{@hero.weeks_between_release_and_first_rotation} weeks after release)
						- else
							Has never appeared in the free hero rotation.
							- if @hero.expected_first_rotation.start >= DateRange.current.start
								Expected #{format_date_range(@hero.expected_first_rotation)}
						
						%br
						Rotations since game launch:
						= @hero.rotations
						(#{format_percentage(@hero.rotation_percentage_since_launch)})

						%br
						Rotations since latest change in roster size:
						= @hero.rotations_since_latest_change_in_roster_size
						(#{format_percentage(@hero.rotation_percentage_since_latest_change_in_roster_size)})
						
						%br
						Rotations since
						= @hero.name
						was added to the game:
						= @hero.rotations
						(#{format_percentage(@hero.rotation_percentage_since_release)})

						%br
						Rotations since newest hero
						(#{link_to Hero.newest.name, hero_path(Hero.newest)})
						was added to the game:
						= @hero.rotations_since_newest_hero_release
						(#{format_percentage(@hero.rotation_percentage_since_newest_hero_release)})

		.row.navigation
			.col-md-2.previous
				=link_to raw("&#9754; #{h @hero.previous.name}"), hero_path(@hero.previous)
			.col-md-8
			.col-md-2.next
				=link_to raw("#{h @hero.next.name} &#9755;"), hero_path(@hero.next)

.container.history
	.row
		.col-md-6.rotations
			%h2 Rotation History
			- for rotation in @hero_rotations
				.row
					.col-md-6
						= link_to format_date_range(rotation), rotation_path(rotation)
					.col-md-6
						- if @hero.multiple_player_character_names?
							- restrictions = []
							- @hero.player_character_heroes.each do |hero|
								- roster = Roster.where(hero_id: hero.id, date_range_id: rotation.id).first
								- if roster.player_level > 1
									- restrictions << "(#{hero.player_character_name} &mdash; Restricted: player level #{roster.player_level})"
							= raw restrictions.join('<br>')
						- else
							- roster = Roster.where(hero_id: @hero.id, date_range_id: rotation.id).first
							- if roster.player_level > 1
								(Restricted: player level #{roster.player_level})
			- if @hero_rotations.empty?
				.row
					.col-md-12
						Has never appeared in the free hero rotation.
						- if @hero.expected_first_rotation.start >= DateRange.current.start
							%br
							Expected #{format_date_range(@hero.expected_first_rotation)}
		.col-md-6.pairings
			%h2 Rotation Hero Pairing History
			%table.table-striped.heroes
				%thead
					%tr
						%th{colspan: 2} Hero
						%th Count
						%th Percentage
				%tbody
					- for pairing in @hero.rotation_pairings
						%tr
							%td.hero
								%figure
									= link_to(hero_path(pairing[:hero])) do
										%span.border
											= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{pairing[:hero].slug}.jpg", alt: pairing[:hero].name, title: pairing[:hero].name
							%td.name
								= pairing[:hero].name
							%td.count
								#{pairing[:count]}
							%td.percentage
								#{format_percentage(pairing[:percentage])}

