.jumbotron
	.container
		.row
			.col-md-3
				.hero
					%figure
						%span.border
							= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{@hero.slug}.jpg"
			.col-md-9
				.row
					.col-md-12
						%h2.name= @hero.name
						%h3.title= @hero.title
				.row
					.col-md-2
						%h4
							= image_tag("icons/franchise/#{@hero.franchise.value}.png", class: 'icon')
							= @hero.franchise.name
					.col-md-2
						%h4
							= image_tag("icons/role/#{@hero.role.slug}.png", class: 'icon')
							= @hero.role.name
					.col-md-2
						%h4
							= image_tag("icons/typp/#{@hero.typp.slug}.png", class: 'icon')
							= @hero.typp.name
				.row
					.col-md-12
						- if DateRange.current.heroes.include?(@hero)
							Currently playable!
						- else
							- date_range = @hero.date_ranges.order(:end).last
							- if date_range
								Last rotation:
								= date_range.start.to_s(:shortish)
								&mdash;
								= date_range.end.to_s(:shortish)
							- else
								Has never appeared in the free hero rotation.
				.row
					.col-md-12
						%h4 Rotation stats
						= pluralize(@hero.date_ranges.count, 'rotation')

						%br
						Rotation percentage since game launch:
						= "#{(@hero.date_ranges.count / DateRange.count.to_f * 100).round(2)}%"

						%br
						Rotation percentage since
						= @hero.name
						was added to the game:
						= "#{(@hero.date_ranges.where('start >= :hero_date', {hero_date: @hero.release_date}).count / DateRange.where('start >= :hero_date', {hero_date: @hero.release_date}).count.to_f * 100).round(2)}%"

						%br
						Rotation percentage since newest hero
						= "(#{Hero.newest.name})"
						was added to the game:
						= "#{(@hero.date_ranges.where('start >= :hero_date', {hero_date: Hero.newest.release_date}).count / DateRange.where('start >= :hero_date', {hero_date: Hero.newest.release_date}).count.to_f * 100).round(2)}%"

						%br
						
