.jumbotron
	.container
		.row
			.col-md-3.portrait
				.hero
					%figure
						%span.border
							= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{@hero.slug}.jpg"
			.col-md-9.callout
				.row
					.col-md-9
						%h2.name= @hero.name
						%h3.title= @hero.title
					.col-md-3
						%h4.release_date
							Released
							= @hero.release_date.to_s(:shortish)
						
				.row
					.col-md-2
						%h4.category
							= image_tag("icons/franchise/#{@hero.franchise.value}.png", class: 'icon')
							= @hero.franchise.name
					.col-md-2
						%h4.category
							= image_tag("icons/role/#{@hero.role.slug}.png", class: 'icon')
							= @hero.role.name
					.col-md-2
						%h4.category
							= image_tag("icons/typp/#{@hero.typp.slug}.png", class: 'icon')
							= @hero.typp.name

				.row
					.col-md-12
						%h2.rotation_status
							- if DateRange.current.heroes.include?(@hero)
								%span
									Currently playable!
							- else
								- rotation = @hero.date_ranges.order(:end).last
								- if rotation
									Last rotation:
									%span
										= rotation.start.to_s(:shortish)
										&mdash;
										= rotation.end.to_s(:shortish)
								- else
									Has never appeared in the free hero rotation.

				.row.stats
					.col-md-12
						%h4.title Rotation stats

						First rotation:
						= link_to format_date_range(@first_rotation), rotation_path(@first_rotation)
						
						%br
						Rotations since game launch:
						= @hero.rotations
						= "(#{number_to_percentage(@hero.rotation_percentage_since_launch, precision: 2)})"

						%br
						Rotations since latest change in roster size:
						= @hero.rotations_since_latest_change_in_roster_size
						= "(#{number_to_percentage(@hero.rotation_percentage_since_latest_change_in_roster_size, precision: 2)})"
						
						%br
						Rotations since
						= @hero.name
						was added to the game:
						= @hero.rotations
						= "(#{number_to_percentage(@hero.rotation_percentage_since_release, precision: 2)})"

						%br
						Rotations since newest hero
						= "(#{Hero.newest.name})"
						was added to the game:
						= @hero.rotations_since_newest_hero_release
						= "(#{number_to_percentage(@hero.rotation_percentage_since_newest_hero_release, precision: 2)})"

.container.history
	.row
		.col-md-12
			%h2 Rotation History
			- for rotation in @hero.date_ranges.order(:end).order(:start)
				%p
					= link_to format_date_range(rotation), rotation_path(rotation)
					- roster = Roster.where(hero_id: @hero.id, date_range_id: rotation.id).first
					- if roster.player_level > 1
						= "(Restricted: player level #{roster.player_level})"
			
						
