- display_categories = true unless local_assigns.has_key?(:display_categories)
- display_player_level = true unless local_assigns.has_key?(:display_player_level)

%figure{data: { |
	name: hero_portrait.hero.slug, |
	roles: hero_portrait.hero.roles.map(&:slug).join, |
	typp: hero_portrait.hero.typp.slug, |
	franchise: hero_portrait.hero.franchise.value, |
	filtered: 'false' |
	} } |
	= link_to(hero_path(hero_portrait.hero.distinct_hero)) do
		%span.border
			= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{hero_portrait.hero.slug}.jpg", alt: hero_portrait.hero.player_character_name, title: hero_portrait.hero.player_character_name
	%figcaption
		= hero_portrait.hero.player_character_name
		- if display_categories
			%br
			%span.category
				= image_tag("icons/franchise/#{hero_portrait.hero.franchise.value}.png", title: hero_portrait.hero.franchise.name, class: 'icon')
				- hero_portrait.hero.roles.each do |role|
					= image_tag("icons/role/#{role.slug}.png", title: role.name, class: 'icon')
				= image_tag("icons/typp/#{hero_portrait.hero.typp.slug}.png", title: hero_portrait.hero.typp.name, class: 'icon')
		- if display_player_level	
			- if hero_portrait.player_level > 1
				%br
				%span.player_level
					Player Level
					= hero_portrait.player_level

