- display_categories = true unless local_assigns.has_key?(:display_categories)
- display_player_level = true unless local_assigns.has_key?(:display_player_level)

%figure{data: { |
	name: hero_portrait.hero.slug, |
	role: hero_portrait.hero.role.slug, |
	typp: hero_portrait.hero.typp.slug, |
	franchise: hero_portrait.hero.franchise.value |
	} } |
	= link_to(hero_path(hero_portrait.hero)) do
		%span.border
			= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{hero_portrait.hero.slug}.jpg", alt: hero_portrait.hero.name, title: hero_portrait.hero.name
	%figcaption
		= hero_portrait.hero.name
		- if display_categories
			%br
			%span.category
				= image_tag("icons/franchise/#{hero_portrait.hero.franchise.value}.png", title: hero_portrait.hero.franchise.name, class: 'icon')
				= image_tag("icons/role/#{hero_portrait.hero.role.slug}.png", title: hero_portrait.hero.role.name, class: 'icon')
				= image_tag("icons/typp/#{hero_portrait.hero.typp.slug}.png", title: hero_portrait.hero.typp.name, class: 'icon')
		- if display_player_level	
			- if hero_portrait.player_level > 1
				%br
				%span.player_level
					Player Level
					= hero_portrait.player_level

