%h2
	= rotation[:date_range].start.to_s(:shortish)
	&mdash;
	= rotation[:date_range].end.to_s(:shortish)
	- case rotation_index
		- when 0
			(Current Rotation)
		- when 1
			(Previous Rotation)
		- else
			= "(#{rotation_index} rotations ago)"

.all
	%h3 Heroes available to all players
	.heroes
		- for roster in rotation[:roster].where(player_level: 1)
			= render(partial: 'rosters/hero_portrait', object: roster)

.restricted
	%h3 Restricted Heroes
	.heroes
		- for roster in rotation[:roster].where.not(player_level: 1)
			= render(partial: 'rosters/hero_portrait', object: roster)

