%h2
	= link_to format_date_range(rotation[:date_range]), rotation_path(rotation[:date_range])
	- case rotation_index
		- when 0
			(Current rotation)
		- when 1
			(Previous rotation)
		- else
			= "(#{rotation_index} rotations ago)"

.all
	%h3 Heroes available to all players
	.heroes
		- for roster in rotation[:roster].where(player_level: 1)
			= render(partial: 'rosters/hero_portrait', object: roster)

.restricted
	%h3 Restricted Heroes
	.heroes
		- for roster in rotation[:roster].where.not(player_level: 1)
			= render(partial: 'rosters/hero_portrait', object: roster)

