%h2
	= link_to format_date_range(rotation[:date_range]), rotation_path(rotation[:date_range])
	- case rotation_index
		- when 0
			(Current rotation)
		- when 1
			(Previous rotation)
		- else
			= "(#{rotation_index} rotations ago)"

.all
	%h3 Heroes available to all players
	.heroes
		- roster_groups = create_roster_groups(rotation[:roster].unrestricted)
		- roster_groups.each_with_index do |roster_group, index|
			= render(partial: 'rosters/hero_portrait', collection: roster_group)
			- unless roster_group.equal?(roster_groups.last)
				%br

.restricted
	%h3 Restricted Heroes
	.heroes
		- roster_groups = create_roster_groups(rotation[:roster].restricted)
		- roster_groups.each_with_index do |roster_group, index|
			= render(partial: 'rosters/hero_portrait', collection: roster_group)
			- unless roster_group.equal?(roster_groups.last)
				%br

