.container
	.row
		.col-md-12
			%h2 About
			%p
				#{link_to 'HotS Roster', root_url}
				is a site dedicated to analyzing the publicly available Hero rotation data for
				#{link_to 'Blizzard Entertainment', 'http://Blizzard.com'}'s
				#{link_to 'Heroes of the Storm', 'http://HeroesOfTheStorm.com'}.
			%p
				Heroes of the Storm is a
				#{link_to 'free-to-play', 'https://en.wikipedia.org/wiki/Free-to-play'}
				game in the
				#{link_to 'MOBA', 'https://en.wikipedia.org/wiki/Multiplayer_online_battle_arena'}
				genre.
				Dubbed a "Hero Brawler", the game currently includes
				#{Hero.count}
				different characters that the player can choose to play.
				Many of these characters are locked behind a
				#{link_to 'paywall', 'https://en.wikipedia.org/wiki/Paywall'};
				these character can be permanently unlocked by paying real money or using in-game currency.
				(In-game currency can be accrued by playing the game.)
			%p
				Since the game's official release on
				#{GAME_LAUNCH_DATE.to_s(:shortish)},
				Blizzard has offered a limited selection of Heroes for players to try for free.
				The selection of free Heroes changes on a weekly basis.
				The "Hero Rotation" happens Tuesday morning (depending on geographical location) and offers a seemingly-random assortment of heroes.
			%p
				The phrase "seemingly random" at the end of the previous paragraph is important!
				As someone who prefers to try each Hero before unlocking it, I noticed that certain Heroes appeared more frequently than others.
				In fact, some Heroes
				- if Hero.unrotated.where('release_date < ?', 2.months.ago).count > 0
					have never
				- else
					hadn't ever
				been in the free rotation!
			%p
				Here's a sample of the data this site is designed to collect and analyze:
			%table.table-striped.heroes
				%caption Least/Most Rotated Launch Heroes
				%thead
					%tr
						%th Least rotations
						%th Most rotations
				%tbody
					- for datum in @rotation_table_data
						%tr
							%td
								= pluralize(datum[:least][:count], 'rotation')
								(#{format_percentage(datum[:least][:count] / DateRange.count.to_f * 100)})
								%br
								= render partial: 'heros/portrait', collection: datum[:least][:heroes]
							%td
								= pluralize(datum[:most][:count], 'rotation')
								(#{format_percentage(datum[:most][:count] / DateRange.count.to_f * 100)})
								%br
								= render partial: 'heros/portrait', collection: datum[:most][:heroes]
			%p
				Data sources:
				%ul
					%li #{link_to 'us.battle.net/heroes/en/heroes/', 'http://us.battle.net/heroes/en/heroes/'}
					%li #{link_to 'us.battle.net/heroes/en/forum/topic/17936383460', 'http://us.battle.net/heroes/en/forum/topic/17936383460'}
					%li #{link_to 'us.battle.net/heroes/en/forum/topic/18183929301', 'http://us.battle.net/heroes/en/forum/topic/18183929301'}
					%li #{link_to 'eu.battle.net/heroes/en/forum/topic/13605640947', 'http://eu.battle.net/heroes/en/forum/topic/13605640947'}
			%p
				If you're looking for Hero win/loss ratios, try #{link_to 'HotSLogs.com', 'http://HotSLogs.com'}.
			%p
				For specific Hero strategies or builds, try one of these sites:
				%br
				%ul
					%li #{link_to 'HeroesNexus.com', 'http://HeroesNexus.com'}
					%li #{link_to 'HeroesFire.com', 'http://HeroesFire.com'}
					%li #{link_to 'TempoStorm.com', 'https://tempostorm.com/heroes-of-the-storm/guides'}
					%li #{link_to 'TenTonHammer.com', 'http://www.tentonhammer.com/games/heroes-storm'}
					%li #{link_to 'Ivy-Veins.com', 'http://www.icy-veins.com/heroes'}
					
				

							
				
